html{
    text-align: center;
    background-color: black;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;

}

a{
    color: aqua;
    font-size: 16px;

}

h3{
    text-align: right;
    color: gray;
}